:root {
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --text-color-main: #212121;
  --text-color-secondary: #757575;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;

  color: var(--text-color-main);
  background-color: var(--background-color);
}

/* All site */

.link {
  text-decoration: none;
}

/* Site nav */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-accent {
  color: var(--text-color-main);
}

.logo-accent:hover,
.logo-accent:focus {
  color: var(--accent-color);
}

.text-nav {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
